@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

@layer utilities {
    .nav{
        @apply relative text-gray-500 hover:text-black tracking-[1px] mb-1
    }
    .nav::after{
        @apply content-[''] bg-[#84A7BA] h-[3px] w-[0%] left-0 -bottom-[5px] rounded-sm absolute duration-300
    }
    .nav:hover::after{
        @apply w-[100%]
    }
}
